body{background-color: #0011ff;
    background-image: url('https://i.pinimg.com/564x/54/51/4c/54514cb3939dad74e0c0e689446b6641.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}
#table{
    background: linear-gradient(90deg, rgba(0, 138, 133, 1) 0%, rgba(25, 136, 247, 10) 100%);;
}
#h1{
    color: #ff0066;
    text-decoration: underline;
}    