@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");

#h1:hover{
    color: #495E57;
}
#title:hover{
    color: palevioletred;
}
#title{
    text-decoration: underline;
} 
#back{
background-color: #EBE4D1;
}
#e1:hover{
    color:#B0578D;
}
#e2:hover{
    color:#B0578D;
}
#e3:hover{
    color:#B0578D;
}
.back{
    background-color: whitesmoke;
}