body{ background-image: url(https://images.alphacoders.com/129/1298126.jpg);}
#p1:hover{
color: aqua;
}
#p2:hover{
    color: aqua;
    }
#table{
    background-image: radial-gradient(circle, rgba(25, 136, 247, 1) 0%, rgba(247, 25, 136, 1) 91%);
}